body{
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(164, 214, 237);
  }

#img-div {
    padding-bottom: 1rem;
}

#guitar-png {
    width: 25rem;
    border: 2px solid
}

.guitar, .guitar2, .guitar3, .guitar4{
    transition: all .9s;
}

.guitar:hover {
    transform: rotate(1turn);
}

.guitar2:hover {
    transform: scale(1.15);
}

.guitar3:hover {
    transform: skew(20deg, 20deg)
}

.guitar4:hover{
    transform: scale(0.75) translate(20%,-25%);
}